  body{ 
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  
    font-family: 'Raleway', sans-serif;
  }
  
  a{
    color: #212529;
  }

  #ribbon { /*Not in use?*/
    position:absolute;
    background-color:red;
    color:white;
    top:40px;
    left:-30px;
    width:160px;
    transform:rotate(-45deg);
    text-align:center;
  }
  #container {
    position:relative;
    width:80%;
    margin:5% auto;
    background-color: rgba(255, 255, 255, .25);
  }
  
  #up_arrow {
    position:relative;
    width:20px;
    height:20px;
    left:42%;
    top:-10px;
    background-color:aliceblue;
    transform:rotate(45deg);
  }

  #content {
    padding: 20px;
    margin: 0px;
  }
